.btn-primary {
    border-radius: 20px;
}

.mat-elevation-z16 {
    padding-bottom: 80px;
}

.container {
    padding-top: 30px;
}

h1 {
    padding-top: 80px;
}

mat-sidenav-container {
    height: 100%;
}